## Key Features of Pandas
to install pandas 
#### python -m pip install pandas --user
#### pip3 install pandas --user
<ul>
    <li>Fast and efficient DataFrame object</li>
    <li>Tools for loading data into in-memory data objects from different file formats</li>
    <li>Data alignment and integrated handling of missing data</li>
    <li>Group by data for aggregation and transformations</li>
    <li>Time Series functionality</li>
</ul>

## Data Structures
<ul>
    <li>Series</li>
    <li>DataFrame</li>
</ul>
All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.
Note − DataFrame is widely used and one of the most important data structures. Panel is used much less.
<img src="images/pandas_dataframes.png">

## 1.Series
Series is a one-dimensional array like structure with homogeneous data.
https://pandas.pydata.org/pandas-docs/stable/reference/series.html

In [1]:
import pandas as pd 
import numpy as np

In [2]:
series = pd.Series(["book1" , "book2" , "book3"])
print(series)

0    book1
1    book2
2    book3
dtype: object

In [3]:
series = pd.Series([1 , 2 , 3] , dtype=np.int8)
print(series)

0    1
1    2
2    3
dtype: int8

In [4]:
series = pd.Series([1 , 2 , 3], index= [f"row{i}" for i in range(3)])
print(series)

row0    1
row1    2
row2    3
dtype: int64

In [5]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
series = pd.Series(data)
print(series)

a    0.0
b    1.0
c    2.0
dtype: float64

In [6]:
series = pd.Series(5, index=[0, 1, 2, 3])
print(series)

0    5
1    5
2    5
3    5
dtype: int64

## Accessing Data from Series with Position

In [7]:
s1 = pd.Series(["book1" , "book2" , "book3"])
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s2 = pd.Series(data)
print(s2)
print(s2[0] , s2['a'] , s2['b'] , s1[0])

a    0.0
b    1.0
c    2.0
dtype: float64
0.0 0.0 1.0 book1

In [ ]:
print(s1[:2])
print(s1[2:])
print(s1[:])
print(s1[::2])

0    book1
1    book2
dtype: object
2    book3
dtype: object
0    book1
1    book2
2    book3
dtype: object
0    book1
2    book3
dtype: object

In [ ]:
print(s1.array)
print(s1.size)
print(s1.values)

<PandasArray>
['book1', 'book2', 'book3']
Length: 3, dtype: object
3
['book1' 'book2' 'book3']

In [ ]:
s= pd.Series([ 5, 8 , -9 , 5])
print(s.abs())

0    5
1    8
2    9
3    5
dtype: int64

In [ ]:
s= pd.Series([ 5, 8 , -9 ])
print(s.unique())
print(s.is_unique)

[ 5  8 -9]
True

In [ ]:
s= pd.Series([ 1, 1, 2 , 3])
print(s.is_monotonic_increasing)

True

In [ ]:
s= pd.Series([ 1, 2 , 2 , 3])
result = s.value_counts()
print(result)

2    2
3    1
1    1
dtype: int64

## DataFrame

In [ ]:
 data = {'Country': ['Belgium', 'India', 'Brazil'],
        'Capital': ['Brussels', 'New Delhi', 'Brasília'],
        'Population': [11190846, 1303171035, 207847528]}

df = pd.DataFrame(data)
print(df)

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [ ]:
df = pd.DataFrame({"colors":pd.Series(['red', 'green' , 'blue']) , "likes": [60 , 20 , 20]})
print(df)

  colors  likes
0    red     60
1  green     20
2   blue     20

In [ ]:
df.rename(columns={'likes': 'total_likes'})

  colors  total_likes
0    red           60
1  green           20
2   blue           20

In [ ]:
df.rename(index={0: 'firstEntry', 1: 'secondEntry'})

            colors  likes
firstEntry     red     60
secondEntry  green     20
2             blue     20

In [ ]:
data = np.random.random((4,3))
df = pd.DataFrame(data , columns=["f1","f2","f3"] , index = ['a' ,'b','c','d'])
print(df)

         f1        f2        f3
a  0.493124  0.813493  0.926258
b  0.049330  0.746482  0.923803
c  0.399194  0.138391  0.268665
d  0.818856  0.384311  0.617631

In [ ]:
df.shape

(4, 3)

In [ ]:
df.columns

Index(['f1', 'f2', 'f3'], dtype='object')

In [ ]:
df.count()

f1    4
f2    4
f3    4
dtype: int64

In [ ]:
x = np.array([1 , 0 , 0 , 4])
y = np.array([1 , 0 , 0 , 4])
y/x

/home/mohamed/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until

array([ 1., nan, nan,  1.])

In [ ]:
df['f1']['a'] = np.nan
df

         f1        f2        f3
a       NaN  0.072936  0.107141
b  0.800934  0.992837  0.247746
c  0.998595  0.905855  0.181042
d  0.312205  0.770172  0.224989

In [ ]:
df.count() # 1

f1    3
f2    4
f3    4
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      3 non-null      float64
 1   f2      4 non-null      float64
 2   f3      4 non-null      float64
dtypes: float64(3)
memory usage: 288.0+ bytes

In [ ]:
df.f1

a         NaN
b    0.800934
c    0.998595
d    0.312205
Name: f1, dtype: float64

In [ ]:
df["f1"]

a         NaN
b    0.800934
c    0.998595
d    0.312205
Name: f1, dtype: float64

In [ ]:
df[["f1","f2"]]

         f1        f2
a       NaN  0.072936
b  0.800934  0.992837
c  0.998595  0.905855
d  0.312205  0.770172

#### indexing and Selecting Data

In [ ]:
df.iloc[0] # select by row

f1    0.493124
f2    0.813493
f3    0.926258
Name: a, dtype: float64

In [ ]:
df.iloc[1 , 0] , df.iloc[1 , 2] # select by row,col

In [ ]:
df.iloc[[1,3],[1,2]]

In [ ]:
df.loc['a'] # select by row label

In [ ]:
#df.loc[row_labels , col_names]
df.loc[ 'a' , 'f2']
df.loc[ ['a' , 'b'] , ['f2' , 'f3']]
df.loc[ : , ['f2' , 'f3']]

#### masking

In [ ]:
print(df['f1']>0.5)

In [ ]:
mask = df['f1']>0.5

In [ ]:
df[mask]

In [ ]:
mask = (df.f2>0.5) & (df.f1>0.5)
print(mask)

In [ ]:
mask = (df['f1']>0.5) | (df.f3<0.5)
print(mask)

In [ ]:
mask = df.f1 != df.f3
print(mask)

In [ ]:
mask = pd.Series([True , False , True , False], index=df.index)
print(mask)

In [ ]:
df[mask]

In [ ]:
print(df)
df.drop('a' , axis=0) # drop row_name 0 mean drop row

In [ ]:
df.drop('f1' , axis=1) # drop row_name 1 mean drop col

In [ ]:
df

In [ ]:
y = df.pop('f2')
print(y)
df

In [ ]:
df.dropna(how='any')

In [ ]:
df.dropna(how='all')

In [ ]:
df.fillna(0)

In [ ]:
df["f1"].fillna(0, inplace= True)

In [ ]:
df

In [ ]:
df.iloc[0,1] = np.nan
df.iloc[3,0] = np.nan
df

In [ ]:
for col in df.columns:
    df[col] = df[col].map(lambda x: x if not np.isnan(x) else df[col].mean())

In [ ]:
df

In [ ]:
df = pd.read_csv("datasets/titanic_test.csv" , usecols=['Name','Age','Sex'])
df.head()

                                           Name     Sex   Age
0                              Kelly, Mr. James    male  34.5
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0
2                     Myles, Mr. Thomas Francis    male  62.0
3                              Wirz, Mr. Albert    male  27.0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0

In [ ]:
df.tail()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    418 non-null    object
 1   Sex     418 non-null    object
 2   Age     332 non-null    float64
dtypes: float64(1), object(2)
memory usage: 9.9+ KB

In [ ]:
df['Sex'].map({"male":0 , "female":1})

In [ ]:
#CarPrice_Assignment.csv
df = pd.read_csv("datasets/CarPrice_Assignment.csv")
df.head()

In [ ]:
df.price.median()

In [ ]:
df.price.mean()

In [ ]:
df.price.sum()

In [ ]:
df.price.min() , df.price.max()

In [ ]:
df[df.price < 7000].head()

In [ ]:
new_df =df[df.price < 7000]
new_df.to_csv("cars_less_700.csv")

In [ ]:
prices = new_df.price

In [ ]:
prices.loc[18]

In [ ]:
prices = prices.reset_index(drop=True)
prices[:5]

In [ ]:
pd.crosstab(df.CarName ,df.drivewheel).sort_values(by="fwd", ascending = False)

In [ ]:
mask = (df.CarName == "toyota corolla") & (df.drivewheel=="fwd")
df[mask]

In [ ]:
df["price"].plot()

In [ ]:
df["price"].hist()

In [ ]:
mask = df["price"] < 9000
df["price"][mask].count()

In [ ]:
df["CarName"] = df["CarName"].str.capitalize()
df.head()

In [ ]:
df["new_col"] = df["CarName"].str.upper()

In [ ]:
df.head()

In [ ]:
df["new_col"] = df["wheelbase"] + df["boreratio"]
df.head()

In [ ]:
df.sample(1)

In [ ]:
sdf = df.sample(frac=0.1)
sdf.head()

In [ ]:
sdf.reset_index(drop=True, inplace= True)
sdf.head()

In [ ]:
df = pd.read_csv("datasets/phone_data.csv")
df.head()

In [ ]:
import dateutil
df['date'] = df['date'].apply(dateutil.parser.parse)
df.head()

In [ ]:
df['month'].unique()

#### group data

In [ ]:
g_m = df.groupby(['month' , "item"])
g_m.groups.keys()

In [ ]:
pd.crosstab(df.month ,df.item)

In [ ]:
g_m.groups[('2014-11', 'call')]

In [ ]:
month_11 = df.iloc[g_m.groups['2014-11' ,'call' ]]
month_11.head()

In [ ]:
month_11["duration"].max()

In [ ]:
g_m = df.groupby(['month' , 'network' , 'item'])
g_m.groups.keys()

In [ ]:
data_usage = df.iloc[g_m.groups[('2015-03', 'Vodafone', 'call')]]
data_usage["duration"].mean()

In [ ]:
data_usage.sort_values( by='duration' , ascending = True  )

In [ ]:
df['date'] = pd.to_datetime(df['date'])
data_usage.reset_index(drop=True)
data_usage

In [ ]:
import datetime 
start_date = datetime.datetime(2014,2,19)
end_date = datetime.datetime(2017,1,1)
data_usage[(data_usage.date>start_date) & (data_usage.date<end_date) ]

In [ ]:
data_usage.set_index(data_usage['date'], inplace=True)
data_usage.head()

In [ ]:
#### sample data based on dates

In [ ]:
df_resample = data_usage["duration"].resample('60 min').mean()
df_resample

In [ ]:
df_resample.dropna(inplace=True)
df_resample

In [ ]:
# concatinate data

In [ ]:
import numpy as np
df1=pd.DataFrame(np.random.randn(5,4), index=['a','b','c','d','e'], columns=['A', 'B', 'C', 'D'])
print(df1)
df2=pd.DataFrame(np.random.randn(5,4), index=['a','b','c','d','e'], columns=['A', 'B', 'C', 'D'])
print(df2)

In [ ]:
df3 = pd.concat([df1, df2]) # concat by row
df3

In [ ]:
df3.reset_index(drop=True, inplace=True)
df3

In [ ]:
df3 = pd.concat([df1, df2], axis=1) # concat by column
df3

#### merging

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [ ]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [ ]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
print(left , "\n" , right) 
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
print(left ,"\n", right)
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
print(left ,"\n", right)
pd.merge(left, right, how='left', on=['key1', 'key2'])

## Iteration

In [ ]:
df = pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])

In [ ]:
for col in df:
    print(col)

In [ ]:
for key,value in df.iteritems():
   print(key)
   print(value)
   print("*"*20)

In [ ]:
for row_index,row in df.iterrows():
   print(row_index)
   print(row)
   print("*"*20)

In [ ]:
for row in df.itertuples():
    print(row[0],row[1])
    print(row)

#### correlation between col

In [ ]:
df = pd.DataFrame({'base_sal':[5000,4000,8000,1000],'total':[4002,5000,1000,1500]})

In [ ]:
df.corr()

In [ ]:
df = pd.DataFrame({'base_sal':[5000,4000,8000,1000],'total':[7002,5000,9000,1500]})
df.corr()